name: Galactic RHEL Binary Build
on:
  workflow_dispatch:
    branches:
      - galactic
  pull_request:
    branches:
      - galactic
  push:
    branches:
      - galactic
  schedule:
    # Run every day to detect flakiness and broken dependencies
    - cron: '03 1 * * *'


jobs:
  galactic_rhel_binary:
    name: Galactic RHEL binary build
    runs-on: ubuntu-latest
    env:
      ROS_DISTRO: galactic
    container: ghcr.io/ros-controls/ros:galactic-rhel
    steps:
      - uses: actions/checkout@v4
        with:
          path: src/ros2_control
      - run: |
          rosdep update
          rosdep install -iy --from-path src/ros2_control
          source /opt/ros/${{ env.ROS_DISTRO }}/setup.bash
          colcon build
          colcon test
