name: Iron RHEL Binary Build
on:
  workflow_dispatch:
    branches:
      - iron
#  pull_request:
#    branches:
#      - iron
#  push:
#    branches:
#      - iron
#  schedule:
#    # Run every day to detect flakiness and broken dependencies
#    - cron: '03 1 * * *'

jobs:
  iron_rhel_binary:
    name: Iron RHEL binary build
    runs-on: ubuntu-latest
    env:
      ROS_DISTRO: iron
    container: ghcr.io/ros-controls/ros:iron-rhel
    steps:
      - uses: actions/checkout@v3
        with:
          path: src/ros2_control
      - run: |
          rosdep update
          rosdep install -iy --from-path src/ros2_control
          source /opt/ros/${{ env.ROS_DISTRO }}/setup.bash
          colcon build
          colcon test
