name: Pre-Commit - Iron

on:
  workflow_dispatch:
  pull_request:
    branches:
      - iron

jobs:
  pre-commit:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-pre-commit.yml@master
    with:
      ros_distro: iron
