name: Debian Iron Source Build
on:
  workflow_dispatch:
  pull_request:
    branches:
      - iron
    paths:
      - '**.hpp'
      - '**.h'
      - '**.cpp'
      - '**.py'
      - '.github/workflows/iron-debian-build.yml'
      - '**/package.xml'
      - '**/CMakeLists.txt'
      - 'ros2_control.iron.repos'
  schedule:
    # Run every day to detect flakiness and broken dependencies
    - cron: '03 1 * * *'


jobs:
  debian_source_build:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-debian-build.yml@master
    strategy:
      matrix:
        ROS_DISTRO: [iron]
    with:
      ros_distro: ${{ matrix.ROS_DISTRO }}
      upstream_workspace: ros2_control.${{ matrix.ROS_DISTRO }}.repos
      ref_for_scheduled_build: master
      skip_packages: rqt_controller_manager
      skip_packages_test: controller_manager_msgs control_msgs
