name: Pre-Commit - Jazzy

on:
  workflow_dispatch:
  pull_request:
    branches:
      - jazzy

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-pre-commit.yml@master
    with:
      ros_distro: jazzy
