name: RHEL Jazzy Semi-Binary Build
on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
    paths:
      - '**.hpp'
      - '**.h'
      - '**.cpp'
      - '**.py'
      - '.github/workflows/jazzy-rhel-binary-build.yml'
      - '**/package.xml'
      - '**/CMakeLists.txt'
      - 'ros2_control.jazzy.repos'
  schedule:
    # Run every day to detect flakiness and broken dependencies
    - cron: '03 1 * * *'

jobs:
  rhel_semi_binary_build:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-rhel-binary-build.yml@master
    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO: [jazzy]
    with:
      ros_distro: ${{ matrix.ROS_DISTRO }}
      upstream_workspace: ros2_control.${{ matrix.ROS_DISTRO }}.repos
      ref_for_scheduled_build: master
      skip_packages: rqt_controller_manager
