name: Lint ros2_control
on:
  pull_request:

jobs:
  ament_lint:
    name: ament_${{ matrix.linter }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
          linter: [copyright, cppcheck, cpplint, flake8, pep257, uncrustify, xmllint]
    steps:
    - uses: actions/checkout@v1
    - uses: ros-tooling/setup-ros@v0.1
    - uses: ros-tooling/action-ros-lint@v0.1
      with:
        distribution: foxy
        linter: ${{ matrix.linter }}
        package-name:
          controller_interface
          controller_manager
          controller_manager_msgs
          hardware_interface
          ros2controlcli
          ros2_control
          ros2_control_test_assets
          transmission_interface
