name: Rolling RHEL Binary Build
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    # Run every day to detect flakiness and broken dependencies
    - cron: '03 1 * * *'

jobs:
  rolling_rhel_binary:
    name: Rolling RHEL binary build
    runs-on: ubuntu-latest
    env:
      ROS_DISTRO: rolling
    container: jaronl/ros:${{ env.ROS_DISTRO }}-alma
    steps:
      - uses: actions/checkout@v2
        with:
          path: src/ros2_control
      - run: |
          rosdep update
          rosdep install -iy --from-path src/ros2_control
          source /opt/ros/${{ env.ROS_DISTRO }}/setup.bash
          colcon build
          colcon test
